<%- include('partials/header') %>

<div class="centered">
  <div class="container">
    <img class="mb-4" src="images/todo3.jpg" alt="" width="72" height="72">
    <h1 class="">Organize it all with TodoList</h1>
    <h2>Free up your mental space</h2>
    <p class="">Regain clarity and calmness by getting all those tasks out of your head and onto your to-do list (no matter where you are or what device you use).</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
